# Pliki tymczasowe budowania
*.tmp.xlsx
__pycache__/
*.py[cod]
.venv/
venv/

# Excel
~$*.xlsm
~$*.xlsx
*.xlk

# Wynik instalatora
installer/wyjscie/

# System
.DS_Store
Thumbs.db

# Wyniki budowania aplikacji desktopowej
build/pyinstaller/
dist/PRO-MAGAZYN/
dist/PRO-MAGAZYN-portable/
dist/*.zip
